# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/
*/*/*.idea
java/prime-factor-1/.idea/
java/prime-factor-1/.idea/*.xml
java/prime-factor-1/out/


# Mac
.DS_Store

# Maven
log/
target/


# Java
java/*.class